.login-container {
  display: flex;
  flex-direction: column;
  margin-top: 20%;

  .sign-in-form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    label {
      text-align: center;
      margin-top: 10px;
    }

    input {
      width: 200px;
      margin-top: 10px;
      align-self: center;
    }

    .password {
      margin-top: 30px;
    }

    .buttons {
      margin-top: 20px;
      display: flex;
      align-content: center;
      justify-content: center;
    }
  }

  h2 {
    text-align: center;
  }

  .incorrect {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    color: red;
    transition: opacity 2s linear;
  }

  .displayNone {
    display: none;
  }
}
