.task-container {
  display: flex;
  flex-direction: row;
  height: 80px;
  margin-bottom: 5px;
  margin-left: 2%;
  margin-right: 2%;
  background-color: rgba(193, 196, 196, 0.4);
  border-radius: 5px;


  .task-options {
    display: flex;
    width: 15%;
    margin-left: 1%;


    .task-button {
      border: none;
      min-width: 30px;
      min-height: 30px;
      border-radius: 50%;
      text-align: center;
      align-self: center;
      cursor: pointer;
      margin-left: 10px;
      background-color: white;
    }

    .close-button {
      &:hover {
        background-color: rgb(255,0,0, 0.8);
      }
    }

    .checked-button {
      &:hover {
        background-color: rgba(0, 128, 0, 0.8);
      }
    }

    .edit-button {
      &:hover {
        background-color: rgb(255, 165, 0, 0.8)
      }
    }

    .active, {
      background: green;
      color: white;
      transition: 0.5s;
    }

    .priority-banner {
      width: 15px;
      height: 40px;
      align-self: center;
      margin-right: 5px;
    }
  }

  .task-name-and-time {
    margin-left: 3%;
    max-width: 30%;
    min-width: 30%;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    align-content: flex-start;
    text-align: left;


    .task-title {
      font-weight: bold;
      font-size: 20px;
      text-align: left;
    }



  }

  .additional-notes {
    max-width: 100%;
    margin-left: 5%;
    align-self: center;

  }

}

// .task-name-and-time::-webkit-scrollbar-track {
//   padding: 1px 0;
//   border-radius: 10px;
// }
//
// .task-name-and-time::-webkit-scrollbar {
//   height: 15px;
// }
//
// .task-name-and-time::-webkit-scrollbar-thumb {
//   background-color: #818B99;
//   border: 3px solid transparent;
//   border-radius: 9px;
//   background-clip: content-box;
// }
//
//
// .additional-notes::-webkit-scrollbar-track {
//   padding: 1px 0;
//   border-radius: 10px;
// }
//
// .additional-notes::-webkit-scrollbar {
//   height: 15px;
// }
//
// .additional-notes::-webkit-scrollbar-thumb {
//   background-color: #818B99;
//   border: 3px solid transparent;
//   border-radius: 9px;
//   background-clip: content-box;
// }
