.to-do-section-container {
  overflow-y: scroll;
  height: 100%;


  .navigation {
    margin-left: 10%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    span {
      cursor: pointer;
    }

    .selected-option {
      background-color: rgba(123, 182, 255);
      color: white;

      &:hover {
        background-color: rgba(123, 182, 255, 0.6);
      }
    }

    .all {
      margin-left: auto;
    }

    .priority {
      margin-right: 3%;
    }

    span {
      padding: 10px;
      font-size: 20px;
      margin-right: 10px;
    }

    .add-task-button {
      background-color: rgba(123, 182, 255);
      border: none;
      width: 200px;
      height: 48px;
      cursor: pointer;
      font-size: 18px;


      &:hover {
        background-color: rgba(123, 182, 255, 0.6);
        color: white;
      }
    }
  }

  .each-to-do-container {
    background-color: white;

    .task-section-desc {
      color: grey;
      text-align: center;
      margin-top: 25%;
    }
  }
}
