.signin-page-container {
  width: 100%;
  display: flex;
  flex-direction: column;

  .auth-methods-container {
    display: flex;
    justify-content: space-around;
    height: 100%;

    .sign-in-container {
      width: 40%;
    }

    .sign-up-container {
      width: 40%;
    }
  }

}
