.header-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  padding-left: 0;
  border-radius: 5%;
  font-size: 20px;
  text-decoration: none;
  list-style-type: none;
  font-weight: bold;


  li {
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;

  }

  .link-style {
    text-decoration: none;
    list-style-type: none;
    color: black;
  }

  .logout-button {
    color: red;
  }
}
